<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Assembly.Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Assembly.Controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Assembly.Controllers.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssemblyCaptcha</servlet-name>
        <servlet-class>Assembly.Crypto.AssemblyCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>Assembly.Controllers.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Assembly.Controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>Assembly.Controllers.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Assembly.Controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>Assembly.Admin.Controllers.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>Assembly.Admin.Controllers.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Assembly.Controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>Assembly.Admin.Controllers.ItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/ProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/UsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssemblyCaptcha</servlet-name>
        <url-pattern>/Captcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/ItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/homepage.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>Assembly.Errors.AuthenticationException</exception-type>
        <location>/loginpage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Assembly.Errors.SessionException</exception-type>
        <location>/loginpage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Assembly.Errors.UserFoundException</exception-type>
        <location>/signuppage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Assembly.Errors.ConfirmPassException</exception-type>
        <location>/signuppage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Assembly.Errors.CaptchaException</exception-type>
        <location>/signuppage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Assembly.Errors.NullValueException</exception-type>
        <location>/loginpage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Assembly.Errors.DiscountException</exception-type>
        <location>/cart.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Errors/error_4.jsp</location>
    </error-page>
</web-app>
