.centerHeader{
    margin-top: 5%;
    padding-bottom: 50px;
    padding-top: 100px;
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.centerHeader .header{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
button[type=submit]{
    border-radius: 20px;
    
}

.productContainer{
    background: white;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
table{
    width: 100%;
    border-collapse: separate;
}
table td{
    padding: 15px;
}
table .bottom{
    vertical-align:text-bottom;
}
td:first-child {vertical-align:bottom}

table td h4{
    position: static;
    color: white;
    width: 90%;
    height: auto;
}

table img{
    width: 90%;
    height: auto;
}

table .specialImg{
    width: 100%;
    height: auto;
}

table{
    background: black;
}

footer{
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
}