body{
    background: #bababa;
    margin:0;
}
h2{
    position: relative;
    top: 0px;
    text-align: center;
}
h3{
    position: relative;
    top: 10px;
    text-align: center;
    color: red;
}
#main-box{
    position: relative;
    top: 100px;
    left: 30%;
    height: 80px;
    width: 40%;
    
    background-color: whitesmoke;
    border: rgb(65,65,65);
    border-width: 20px;
    border-style: outset;
    border-radius: 20px;   
}
#profile-box{
    position: relative;
    top: 130px;
    left: 20%;
    height: 1100px;
    width: 60%;

    text-align: center;
    font-size: 20px;
    font-family: serif;

    background-color: whitesmoke;
    border: rgb(65,65,65);
    border-width: 20px;
    border-style: outset;
    border-radius: 20px;
    z-index: 4;
}
label{
    padding-top: 25px;
}
#name-box, #first-box, #last-box, #ship-box, #bill-box, #email-box, #contact-box,
    #current-box, #new-box, #confirm-box{
    display: block;
    margin: auto;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    background: white;
}
button{       
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: black;
    color: #fff;
    margin-bottom: 3px;
}
button:hover{
    background-color: gray;
}

@media screen and (max-width: 600px) {
  #main-box{
    top: 280px; 
    height: 120px;
  }
  #profile-box{
    top: 320px;
  }
  
  h2{
    top: 0px;
  }
}