body{
    margin: 0; 
    background: #bababa;
}

table{
    width: 85%; 
    background: white;
}

th{
    text-align: center;
    padding: 5px;
    color: #fff;
    background: #000000;
    font-weight: normal;
}

img{
}
